*,
*::before
*::after{
    box-sizing: border-box;
}

@font-face {
    font-family: "Chernobyl";
    src:url("Fonts/Chernobyl.woff2") format("woff2"), 
        url("Fonts/Chernobyl.woff") format("woff"),
        url("Fonts/Chernobyl.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway&display=swap');

body{
    margin: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

p{
    font-size: 1.2em;
}

h2{
    font-family: 'Chernobyl',sans-serif;
    font-size: 4em;
    margin-bottom: 40px;
}

h3{
    font-family: 'Chernobyl',sans-serif;
    font-size: 3.5em;
}

.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(0deg, rgba(25,28,27,1) 5%, rgba(0,0,0,0) 100%), url(img/homepage2.jpg);
    background-size: cover;
    height: 100vh;
}

/* ACCUEIL */

.TXTaccueil{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Chernobyl',sans-serif;
    font-size: 6.5em;
    margin-bottom: 24px;
}

.red{
    color: #E30000;
}

.accroche{
    font-size: 15px;
}

.BUTaccueil{
    display: flex;
}


/* BUTTON */

a{
    margin-top: 40px;
    background: rgba(0, 0, 0, 0);
    border-radius: 15px;
    color: white;
    font-size: 0.8em;
    border: white 1px solid;
    width: 150px;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: transform 0.3s ease;
}

a:hover {
    transform: scale(1.2); /* Grossit le bouton de 10% au survol */
}



/* 2EME PAGE WW1 */

#WW1{
    background-image:linear-gradient(0deg, rgba(25,28,27,1) 2%, rgba(0,0,0,0) 50%, rgba(25,28,27,1) 98%), url(img/WW1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.TXTWW1{
    width: 40%;
    margin: 0 80px 80px 0;

}

/* 3eme page WW2 */

#WW2{
    background-image: linear-gradient(0deg, rgba(25,28,27,1) 1%, rgba(0,0,0,0) 50%, rgba(25,28,27,1) 99%), url(img/WW22.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.TXTWW2{
    width: 40%;
    margin-left: 100px;
    margin-bottom: 70px;
}


/* CARTE ET BUREAU  */
.Fondcarte{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(0deg, rgba(25,28,27,1) 2%, rgba(0,0,0,0) 50%, rgba(25,28,27,1) 99%), url(img/Fondcarte.jpg);
    background-position: center ;
    height: 100vh;
}

#carte{
    background-image: url(img/carte.png);
    width: 70%;
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 100px;
}

svg{
    width: 70%;
    margin-left: 200px;
    margin-top: -15px;
    }

path:hover{
    fill: #944141;
    stroke: white;
    stroke-width: 2.5px;
}


/* Legislation */

.legislation{
    display: flex;
    background-image:linear-gradient(0deg, rgba(25,28,27,1) 2%, rgba(0,0,0,0) 50%, rgba(25,28,27,1) 98%), url(img/legislation.jpg);
    background-position: center ;
    height: 100vh;
}
.TXTlegislation{
    margin-left: 100px;
    margin-top: 100px;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}