*,
*::before
*::after{
    box-sizing: border-box;
}

@font-face {
    font-family: "Chernobyl";
    src:url("Fonts/Chernobyl.woff2") format("woff2"), 
        url("Fonts/Chernobyl.woff") format("woff"),
        url("Fonts/Chernobyl.otf") format("opentype");
}

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway&display=swap');

body{
    margin: 0;
    color: white;
    font-family: 'Raleway', sans-serif;
}

p{
    font-size: 1.2em;
}

.accueil{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/homepage.jpg);
    background-size: cover;
    height: 100vh;
}
/* NAVBARE */
.navbar{
    display: flex;
    font-weight: 300;
    font-size: 1.563em;
    margin-top: 50px;
}

a{
    outline: none;
    text-decoration: none;
    color: white;
    padding: 10px;

}
/* Votre CSS existant */

/* Ajoutez le CSS pour l'effet de survol */
.lien {
    text-decoration: none;
    color: white;
    font-weight: normal;
    position: relative;
    display: inline-block;
    transition: all 0.3s ease;
}

.lien:hover {
    font-weight: bold;
    transform: translateX(-35px);
}

/* ACCUEIL */

.TXTaccueil{
    display: flex;
    color: white;
}

h1{
    font-family: 'Chernobyl',sans-serif;
    font-size: 6.5em;
}

.red{
    color: #E30000;
}

/* BUTTON */

button{
    background: rgba(0, 0, 0, 0);
    border-radius: 15px;
    color: white;
    border: white 1px solid;
    width: 200px;
    height: 50px;
}


/* 2EME PAGE WW1 */

.WW1{
    background-image: url(img/WW1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 110vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.TXTWW1{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

/* 3eme page WW2 */

.WW2{
    background-image: url(img/WW2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}

.TXTWW2{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}





/* CARTE ET BUREAU  */
.bureau{
    display: flex;
    justify-content: center;
    background-image: url(img/bureau.jpg);
    background-repeat: no-repeat;
    background-position: center ;
    height: 100vh;
}

.map{
    display: flex;
    align-items: center;
    justify-content: center;
}

.carte{
    width: 85%;
}