.wartoggle{
    display: flex;
}

.graph{
    display: flex;
    overflow: auto;
    width: 800px;
}

.graphContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.graphLine{
    height: 2px;
    width: 150px;
    background-color: black;
}

.test{
    fill:#ff9e42;
}

.graphCivilianColor{
    fill:rgb(218, 176, 80);
}
.graphMilitaryColor{
    fill:rgb(180, 84, 84);
}